{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block title %}
Home Page 
{% endblock %}

{% block content%}
<h1>DPS CRIME ALERTS </h1>
    {% for crime in crimes %}
        <a href="{{ url_for('create', crime_id=crime['crime_id']) }}">
            <h2>{{ crime['crime_title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ crime['created'] }}</span>
        <a href="{{ url_for('edit', id=crime['crime_id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
    <div class="container">
        <h2>Panels with Contextual Classes</h2>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">Panel with panel-default class</div>
            <div class="panel-body">Panel Content</div>
          </div>
      
          <div class="panel panel-primary">
            <div class="panel-heading">Panel with panel-primary class</div>
            <div class="panel-body">Panel Content</div>
          </div>
      
          <div class="panel panel-success">
            <div class="panel-heading">Panel with panel-success class</div>
            <div class="panel-body">Panel Content</div>
          </div>
      
          <div class="panel panel-info">
            <div class="panel-heading">Panel with panel-info class</div>
            <div class="panel-body">Panel Content</div>
          </div>
      
          <div class="panel panel-warning">
            <div class="panel-heading">Panel with panel-warning class</div>
            <div class="panel-body">Panel Content</div>
          </div>
      
          <div class="panel panel-danger">
            <div class="panel-heading">Panel with panel-danger class</div>
            <div class="panel-body">Panel Content</div>
          </div>
        </div>
    </div>

{% endblock %}