{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block title %}
index
{% endblock %}

{% block content%}
  <div class="row">
    <div id="map" class="col-8"></div>
    <div id="jumbo" class="jumbotron col-4 col-md-4">
      <h1 class="display-6">Lets start your safe journey!</h1>
      <p class="lead text-muted">Happy Journey..!</p>
      <hr class="my-4">

      <form>
        <div class="form-group">
          <!-- <label for="start_location">Starting Location</label> -->
          <input type="text" class="form-control" id="start" aria-describedby="startLocation" placeholder="Enter the start location">
          <small class="form-text text-muted">From where you want to start your journey.</small>
        </div>
        <div class="form-group">
          <!-- <label for="end_location">Destination</label> -->
          <input type="text" class="form-control" id="end" aria-describedby="endLocation" placeholder="Enter the destination">
          <small class="form-text text-muted">Voila you reached.</small>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input class="form-control" type="time" value="13:45:00" id="example-time-input">
            <small class="form-text text-muted">Time of travel</small>
          </div>
        </div>
        <div>
          <p class="lead text-center">
            <a class="btn btn-primary btn-lg" role="button" id="fetch_route">Search Safe Route</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    {% for crime in crimes %}
      <div class="card col-2 col-sm-4" style="margin: 1%;">
        <div class="card-body">
          <h4 class="card-title">{{crime['crime_title'] }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ crime['crime_alert_date']}}</h6>
          <p class="card-text">{{crime['crime_location']}}</p>
          <!-- <p class="card-text">Reported on {{crime['crime_timeStamp']}}</p> -->
          <footer class="blockquote-footer">Reported on {{crime['crime_timeStamp']}}</footer>
          <a href="{{ crime['crime_url'] }}" class="card-link">Read more</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- Include the Google Maps API library - required for embedding maps -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-9pwUGx6xkzP2pbIbuwT_DWgE3jT_Gj4"></script>
  
  <script>
    
    function initMap() {
      var directionsService = new google.maps.DirectionsService;
      var directionsRenderer = new google.maps.DirectionsRenderer;
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: {lat: 41.85, lng: -87.65}
      });

      directionsRenderer.setMap(map);
      var calcRoute = function(){
        calculateAndDisplayRoute(directionsService, directionsRenderer);
      }
      document.getElementById("fetch_route").addEventListener("click", calcRoute);
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
      directionsService.route({
        origin: document.getElementById('start').value,
        destination: document.getElementById('end').value,
        travelMode: 'DRIVING'
      }, function(response, status) {
        if (status === 'OK') {
          directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    }

    var fun = function(){
      initMap();
    }

    google.maps.event.addDomListener(window, 'load', fun);

    
  </script>
  <!-- <script>
      $(function () {

            function initMap() {

                var location = new google.maps.LatLng(50.0875726, 14.4189987);

                var mapCanvas = document.getElementById('map');
                var mapOptions = {
                    center: location,
                    zoom: 16,
                    panControl: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(mapCanvas, mapOptions);
                
                new google.maps.Marker({
                position: location,
                map,
                title: "Hello World!",
              });
            
            }

            google.maps.event.addDomListener(window, 'load', initMap);
            });
  
      function calcRoute() {
        console.log("You called me");
        var start = document.getElementById('start_location').value;
        var end = document.getElementById('end_location').value;
        var directionsService = new google.maps.DirectionsService();
        var directionsRenderer = new google.maps.DirectionsRenderer();
        var request = {
          origin: start,
          destination: end,
          travelMode: 'DRIVING'
        };
        directionsService.route(request, function(result, status) {
          if (status == 'OK') {
            console.log("OKAYS");
            directionsRenderer.setDirections(result);
          }
        });
      }

  // $(function(){
  //   console.log("your boss");
  //   $('#fetch_route').click(calcRoute)
  // });
            
  </script> -->
  <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <script type="text/javascript" src="scripts/js/maps.js"></script> -->
{% endblock %}